{{>menu}}

<section class="title-page">
	<p>{{category}}</p>
</section>

<section class="section-suppliers">

	<div class="supplier-card-container">
		{{#each resRows}}
		<article class="supplier-card">
			<p class="supplier-card__name">{{company_name}}<i class="bi bi-circle-fill supplier-card__icon-status {{#if statusActive}}--active{{else}}--inactive{{/if}}"></i></p>
			<p class="supplier-card__text">Teléfono: {{phone_number}}</p>
			<p class="supplier-card__text">Email: {{email}}</p>
			<p class="supplier-card__text">Ciudad: {{town}}</p>
			<p class="supplier-card__text">Dirección: {{address}}</p>
			<i class="bi bi-pencil-square supplier-card__icon-edit"></i>
		</article>
		{{/each}}
	</div>

</section>
