{{>menu}}

<section class="title-page">
	<p>{{category}}</p>
</section>

{{#if detailsProduct}}

<section class="shopping-cart-container">
	<section class="products-shopping-cart">
		{{#each detailsProduct}}
		<article class="product-cart">
			<div class="product-cart__delete-product" data-id="">
				<i class="bi bi-x-lg"></i>
			</div>
			<figure class="product-cart__img-container">
				<img src="{{#if picture}}{{picture}}{{else}}/assets/img/defaultCP.jpg{{/if}}" alt="Imagen del producto" />
			</figure>
			<section class="product-cart__text">
				<div>
					<p class="product-cart__name">{{name}}</p>
					<p class="product-cart__price">$ {{price}}</p>
					{{#if color}}
					<p class="product-cart__color">Color: {{color}}</p>
					{{/if}}
				</div>
			</section>
			<section class="product-cart__amount">
				<div>
					<p class="product-cart__amount-title">Cantidad</p>
					<p class="product-cart__amount-number">{{amount}}
						<p class="product-cart__amount-title">Referencia</p>
						<p class="product-cart__amount-number">{{reference}}
						</p>
				</div>
			</section>
		</article>
		{{/each}}
	</section>

	<section class="total-value-cart">
		<p class="total-value-cart__title">Valor total</p>
		<form action="/cart/pay" method="POST">
			{{#each detailsProduct}}
			<input type="hidden" name="user" value="{{user}}">
			<input type="hidden" name="product" value="{{product}}">
			<input type="hidden" name="amount" value="{{amount}}">
			<input type="hidden" name="color" value="{{color}}">
			<p class="total-value-cart__product">
				{{name}}<span> x{{amount}}</span>
			</p>
			{{/each}}
			<hr class="total-value-cart__line" />
			<p class="total-value-cart__total"><span>$ </span>{{#if total}}{{total.total}}{{/if}}</p>
			<button class="total-value-cart__btn-pay">
				Ir a pagar<i class="bi bi-cash-coin total-value-cart__btn-pay-icon"></i>
			</button>
		</form>
		<form action="/cart/clear" method="POST">
			<button class="delete-products-cart">
				<i class="bi bi-trash2-fill"></i> Vaciar carrito
			</button>
		</form>
	</section>
</section>

{{else}}

<section class="shopping-cart-container--fail">
	<figure class="shopping-history-fail">
		<div>
			<p class="shopping-history-fail__text">Aún no has agregado ningún producto</p>
			<p class="shopping-history-fail__face">:(</p>
		</div>
	</figure>
</section>

{{/if}}
